<div class="card rounder">
  <div class="red lighten-3 yellow-text row">
    <img class="col s4 offset-s2" width="250px" height="auto" src="/assets/img/logo.png">
    <br>
    <h3 class="center ">POS Dashboard</h3>
    <br>
     <div class="row">
    <a class="center btn black-text grey lighten-4 col s4 offset-s1" href="https://twopheat.github.io/Portfolio/contact.html">POS Support</a>
  </div>
  </div>
 
  <br>
  <div class="row">
    <form class="create-form">

      <div class="form-group">

        <label for="ca" class="">
          <h4 class="col s6 offset-s3">Enter Order Here:</h4>
        </label>
        <div class="col s8"><input class="col s8 offset-s3" type="text" id="ca" name="name">
        </div>
      </div>

      <div class="form-group">
        <label for="devoured"></label><br>
        <input name="devoured" type="radio" value="1" checked>
        <input name="devoured" type="radio" value="0">
      </div>

      <button class="btn green" type="submit">Send Order</button>
    </form>
    <br>
    <div class="row">
      <h3 class="col s6 center">SERVED</h3>
      <h3 class="col s6 center">DEVOURED</h3>

    </div>
    <div class="row">
      <ul class="col s6">
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devour=true}}
        {{/unless}}
        {{/each}}
      </ul>

      <ul class="col s6">
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devour=false}}
        {{/if}}
        {{/each}}
      </ul>
      <br>
    </div>

  </div>

</div>